.circle {
    width: 60px;
    height: 60px;
    background-color: #ff96c9;
    border-radius: 35px;
    margin-right: 20px;
}

.oldPost {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}

.oldPostText {
    font-size: 20pt;
}