* {
    margin: 0;
    padding: 0;
}

.generalContainer {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}

.centerContainer{
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
}






