* {
    margin: 0;
    padding: 0;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: row;
}

ul {
    list-style-type: none;
}






