* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

.container {
    padding: 10px 450px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.hr {
    margin: 20px 0;
}


